*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
/* Hides */
::-webkit-scrollbar {   
    display: none;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


nav{
    background-color: black !important;
}
ul .nav-item a{
    color: white;
}
.headingPart{
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/back3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.innerContainer{
    min-width: 100%;
    min-height: 100vh;;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Playfair Display', serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('http://placehold.it/350x150');
   
  
}
.innerContainer .container .row h1{
    font-size: 4rem;
    font-weight: 400;
}
.innerContainer .container .row h1 span{
    color: rgb(1, 232, 255);
    text-shadow: 2px 2px #ff0000;;
}
.innerContainer .container .row div:nth-child(2) {
    transform: translateX(-100%);
    animation: animate 1s ease forwards;
}
@keyframes animate {
    100%{
        transform: translateX(0%);
    }
}

/* Section 2 */
.jumbo{
    min-height: 200vh;
    background-color: black;
    color: white;
    padding-top: 100px;
    font-family: 'Playfair Display', serif !important;  
    padding-left: 20%;
    padding-right: 20%;

}
.jumbo .container .row div:nth-child(1) h2{
    font-size: 4rem;
    color: rgb(1, 232, 255);
    text-shadow: 2px 2px #ff0000;;
    text-align: center;
   
}
.jumbo .container .row div:nth-child(1) p{
    font-size: 1rem;
}
.jumbo .container .row div:nth-child(1){
    padding-top: 15%;
    text-align: center;
}
.jumbo .container .row div:nth-child(2){
    font-family: Roboto,sans-serif !important;
}
.jumbo .container .row div:nth-child(2) div{
    border: solid 1px rgb(1, 232, 255);
    width: 50%;
    text-align: center;
    padding: 10px;
}
.jumbo .container .row div:nth-child(2) a{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
}

.jumbo .container .row div:nth-child(2) div:hover{
    color: rgb(1, 232, 255);
}
.jumbo .container .row div:nth-child(3){
    margin-top: 15%;
    text-align: center;
}
.jumbo .container .row div:nth-child(3) img{
    
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    border: solid 5px white;
}
.jumbo .container .row div:nth-child(3) h3{
    padding-top: 3%;
}

/* Timeline section */
.timeline-section{
    min-height: 100vh;
    padding: 100px 15px;
}

.timeline-items{
    max-width: 1000px;
    margin: auto;
    position: relative;
}
.timeline-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: white;
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgb(1, 232, 255);
    box-shadow:  1px 1px 1px 1px #ff0000;
    position: absolute;
    left: calc(50% - 8px);
}
.timeline-date{
    font-size: 2rem;
    color: white;
    margin: 6px 0 15px;
}
.timeline-content{
    border: solid 1px rgb(1, 232, 255);
    box-shadow:  0.5px 0.5px 1px 1px #ff0000;
    padding: 30px;
    border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    text-transform: capitalize;
}
.timeline-content p{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}



/* Sponsors CSS */
.sponsors{
    min-height: 100vh;
    background-color: black;
    color: white;
    padding-top: 100px;
    font-family: 'Playfair Display', serif !important;  
    padding-left: 10%;
    padding-right: 10%;
}

.sponsors .row div:nth-child(1){
    text-align: center;
    padding-bottom: 10%;
    font-size: 4rem;
}
.sponsors .row div:nth-child(1) span{
    color: rgb(1, 232, 255);
    text-shadow: 2px 2px #ff0000;
}
.sponsors .row div{
    text-align: center;
    font-size: 1.5rem;
}
.sponsors .row div:nth-child(2) img{

    background-image: url("../icons/001-github-sign.png");
    background-size: cover;
    background-color: white;
    border-radius: 50%;
    border: solid 2px rgb(1, 232, 255); 
    box-shadow:  2px 2px 1px 1px #ff0000;
}
.sponsors .row div:nth-child(2) img:hover{
    transform: scale(1);
    animation: animateicons 2s ease-out forwards;
    background-image: url("../icons/001-github-sign-colored.png");
    background-color: black;
}
.sponsors .row div:nth-child(3) img{
    background-image: url("../icons/002-facebook.png");
    background-size: cover;
    background-color: black;
    border-radius: 50%;
    border: solid 2px rgb(1, 232, 255); 
    box-shadow:  2px 2px 1px 1px #ff0000;
}
.sponsors .row div:nth-child(3) img:hover{
    transform: scale(1);
    animation: animateicons 2s ease-out forwards;
    background-image: url("../icons/002-facebook-colored.png");
    background-color: white;
}
.sponsors .row div:nth-child(4) img{
    background-image: url("../icons/003-brand.png");
    background-size: cover;
    background-color: white;
    border-radius: 50%;
    border: solid 2px rgb(1, 232, 255); 
    box-shadow:  2px 2px 1px 1px #ff0000;
}
.sponsors .row div:nth-child(4) img:hover{
    transform: scale(1);
    animation: animateicons 2s ease-out forwards;
    background-image: url("../icons/brand.png");
    background-color: red;
}
.sponsors .row div:nth-child(5) img{
    background-image: url("../icons/001-apple.png");
    background-size: cover;
    background-color: white;
    border-radius: 50%;
    border: solid 2px rgb(1, 232, 255); 
    box-shadow:  2px 2px 1px 1px #ff0000;
}
.sponsors .row div:nth-child(5) img:hover{
    transform: scale(1);
    animation: animateicons 1s ease-out forwards;
    background-image: url("../icons/apple\ \(1\).png");
    background-color: #555555;
}
.sponsors .row div:nth-child(6) img{
    background-image: url("../icons/001-nike.png");
    background-size: cover;
    background-color: white;
    border-radius: 50%;
    border: solid 2px rgb(1, 232, 255); 
    box-shadow:  2px 2px 1px 1px #ff0000;
}

.sponsors .row div:nth-child(6) img:hover{
    transform: scale(1);
    background-image: url("../icons/002-nike-1.png");
    animation: animateicons 1s ease-out forwards;
    background-color: black;
}
.sponsors .row div:nth-child(7) img{
    background-image: url("../icons/001-walmart-1.png");
    background-size: cover;
    background-color: black;
    border-radius: 50%;
    border: solid 2px rgb(1, 232, 255); 
    box-shadow:  2px 2px 1px 1px #ff0000;
}
.sponsors .row div:nth-child(7) img:hover{
    transform: scale(1);
    animation: animateicons 1s ease-out forwards;
    background-image: url("../icons/walmart\ colored.png");
    background-color: black;
}
.sponsors .row div:nth-child(8) img{
    background-image: url("../icons/007-office.png");
    background-size: cover;
    background-color: white;
    border-radius: 50%;
    border: solid 2px rgb(1, 232, 255); 
    box-shadow:  2px 2px 1px 1px #ff0000;
}
.sponsors .row div:nth-child(8) img:hover{
    transform: scale(1);
    background-image: url("../icons/office.png");
    animation: animateicons 1s ease-out forwards;
    background-color: black;
}
.sponsors .row div:nth-child(9) img{

    background-image: url("../icons/nvidia.png");
    background-size: cover;
    background-color: black;
    border-radius: 50%;
    border: solid 2px rgb(1, 232, 255); 
    box-shadow:  2px 2px 1px 1px #ff0000;
}
.sponsors .row div:nth-child(9) img:hover{
    transform: scale(1);
    background-image: url("../icons/nvidia\ colored.png");
    animation: animateicons 1s ease-out forwards;
    background-color: white;
}
.sponsors .row div:nth-child(10) img{
    background-image: url("../icons/003-brand.png");
    background-size: cover;
    background-color: white;
    border-radius: 50%;
    border: solid 2px rgb(1, 232, 255); 
    box-shadow:  2px 2px 1px 1px #ff0000;
}
.sponsors .row div:nth-child(10) img:hover{
    transform: scale(1);
    animation: animateicons 2s ease-out forwards;
    background-image: url("../icons/brand.png");
    background-color: red;
}


.sponsors .row div:nth-child(11) img{
    background-image: url("../icons/002-facebook.png");
    background-size: cover;
    background-color: black;
    border-radius: 50%;
    border: solid 2px rgb(1, 232, 255); 
    box-shadow:  2px 2px 1px 1px #ff0000;
}
.sponsors .row div:nth-child(11) img:hover{
    transform: scale(1);
    animation: animateicons 2s ease-out forwards;
    background-image: url("../icons/002-facebook-colored.png");
    background-color: white;
}


.sponsors .row div:nth-child(12) img{

    background-image: url("../icons/nvidia.png");
    background-size: cover;
    background-color: black;
    border-radius: 50%;
    border: solid 2px rgb(1, 232, 255); 
    box-shadow:  2px 2px 1px 1px #ff0000;
}
.sponsors .row div:nth-child(12) img:hover{
    transform: scale(1);
    background-image: url("../icons/nvidia\ colored.png");
    animation: animateicons 1s ease-out forwards;
    background-color: white;
}

.sponsors .row div:nth-child(13) img{
    background-image: url("../icons/001-apple.png");
    background-size: cover;
    background-color: white;
    border-radius: 50%;
    border: solid 2px rgb(1, 232, 255); 
    box-shadow:  2px 2px 1px 1px #ff0000;
}
.sponsors .row div:nth-child(13) img:hover{
    transform: scale(1);
    animation: animateicons 1s ease-out forwards;
    background-image: url("../icons/apple\ \(1\).png");
    background-color: #555555;
}
@keyframes animateicons {
    100%{
        transform: scale(1.2);
    }
}
/* Media Queries */

@media (max-width: 400px) {
    .jumbo{
        padding-left: 10%;
        padding-right: 10%;
        min-height: 300vh;
    }
  
    .jumbo .container .row div:nth-child(3){
        margin-top: 25%;
    }
    .jumbo .container .row div:nth-child(2){
        padding-top: 5%;
    }
}

@media (max-width: 767px) {
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        text-align: left;
        padding-right: 0;

    }
    .timeline-item:nth-child(odd),.timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
}

/* Navbar Css */
nav{  
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('http://placehold.it/350x150') !important;
}
.navbar img{
    position: absolute;
    left: 2%;
    top: 5%;
}
.navbar-nav li p{
    width: 0%;
    height: 5px;
    background-color: white;
}

.navbar .navbar-brand img:hover{
    animation: animaterot 2s ease-in-out forwards ;
}
@keyframes animaterot {
    50%{
        transform: rotate(360deg);
    }
}
.navbar-nav li:hover p{
    animation: animates 1s ease forwards;
}
@keyframes animates {
    100%{
        width: 100%;
    }
}
.navbar-nav a {
	font-family: 'Playfair Display', serif;
	font-size: 1rem;
    letter-spacing: 2px;
    color: #fff !important;
}
.navbar-nav li:nth-child(6) a{
    margin-left: 50px;
    color: rgb(1, 232, 255) !important;
    
}
.navbar-nav li:nth-child(6) a:hover{
    color: white !important;
}
.navbar-nav li:nth-child(7) a{
    margin-right: 10px;
    font-size: 1rem;
}
.navbar-nav li:nth-child(8) a{
    border: solid 1px rgb(1, 232, 255);
    box-shadow:  0.5px 0.5px 1px 1px #ff0000;
}
.navbar-nav li:nth-child(8) a:hover{
    border: solid 1px white;
    color: rgb(1, 232, 255) !important;
    font-weight: bold !important;
    box-shadow: none;
}
.navbar-nav li:nth-child(8) a button{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('http://placehold.it/350x150') !important;
    color: white;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;

}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff !important;
    color: #fff !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.w-100 {
	height: 100vh;
}
@media only screen and (max-width: 767px) {
    .navbar-nav li:nth-child(7) a{
        padding-top: -5%;
    }
	.navbar-nav.ml-auto {
		
    background-color: black !important;
	}
    .navbar-nav li:nth-child(6) a{
        margin-left: 0px;
    }
	.navbar-nav a {
		font-size: 14px;
		font-weight: normal;
	}
    .navbar-nav li:hover p{
        animation: none;
    }
}

/* FAQs */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.faq{
  position: relative;
  background: #fff;
  filter: drop-shadow(0 0 10px
          rgba(0, 0, 0, 0.5));
          min-height: 100vh;
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  background: black;
  display: flex;
  justify-content: center; 
  padding-top: 100px;
}


.faqimg img{
  padding-left: 10%;
  padding-top: 20%;
  padding-right: 10%;
}

.accordion {
  position: relative;
  width: 350px;
  margin-left: 40px;
}

.faq .container .title {
  margin-top: 20px;
  font-size: 4rem;
  text-align: center;
  color: #fff;
}

.content-accordion {
  margin-top: 35px;
  margin-right: 50px;
}

.question-answer {
  width: 100%;
  border-bottom: 1px solid  rgb(1, 232, 255);
  color: #fff;
}

.question {
  display: flex;
  justify-content: space-between;
}

.accordion-img {
  position: relative;
  width: 320px;
}

.title-question {
  margin: 1.4rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  color:white;
}

.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color:  rgb(1, 232, 255);
}

.slash{
  color:  rgb(1, 232, 255);
  text-shadow: 2px 2px #ff0000;
}

.up-icon {
  display: none;
}

.answer {
  font-size: 1.2rem;
  line-height: 1.8;
  display: none;
}

.show-text .answer {
  display: block;
}

.show-text .up-icon {
  display: inline;
}

.show-text .down-icon {
  display: none;
}

@media screen and (min-width: 992px) {
  .accordion {
    width: 920px;
    height: 0;
    display: flex;
  }

  .accordion-img {
    position: relative;
    width: 420px;
    top: 88px;
  }

  .question-answer {
    width: 380px;
  }

  .content-accordion {
    margin-top: 85px;
  }

  .title {
    margin-top: 50px;
    font-size: 3rem;
  }
}

/* Contact Us Section */
.contact{
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/back5.jpg");
    
    background-size: cover;
    background-repeat: no-repeat;


    
}
.contact .someContainer{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('http://placehold.it/350x150') !important;
}
.contact .container{
    padding-top: 100px;
    color: white;
    font-family: 'Playfair Display', serif;
}
.contact .row div:nth-child(1){
    font-size: 4rem;
    text-align: center;
}
.contact .row div:nth-child(1) span{
    color: rgb(1, 232, 255);
    text-shadow: 2px 2px #ff0000;;
}

.contact .row div:nth-child(2){
    padding-top: 100px;
    font-weight: bolder;
    font-family: Oswald,sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.contact .row div:nth-child(2) img{
    margin-bottom: 2%;
    margin-right: 2%;
}
.contact .row div:nth-child(3){
    padding-top: 100px;
    
}

/* For loading animation */
#loading{
	width: 100%;
	min-height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background: rgb(1, 232, 255) url("../icons/loading.gif") no-repeat center;
	background-size: 20rem;
	z-index: 99999;
	display: flex;
	justify-content: center;
}
#loading div{
	font-size: 3rem;
	position: absolute;
	bottom: 20%;
	color: white;
	font-family: "Open sans";
	font-weight: bold;
	text-shadow: 2px 2px #ff0000;;
}

